.drop-icon {
  height: 40px;
  width: 50px;
  color: #f1f1f1;
  position: absolute;
  top: 0px;
  animation: windMoveVertical 4000ms ease-in-out infinite;
}

@keyframes windMoveVertical {
  50% {
    transform: translateY(2px);
  }
}
