.dots-container {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.dots-item {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #bebebe;
}

.selected-dot {
  background-color: #464646;
}
