.chart-container {
  width: 100%;
  padding: 20px 30px 20px 30px;
}

.chart-sun-icon-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.chart-moon-icon-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.moon {
  color: #8a8582;
  transform: rotate(-45deg);
}

.chart-wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  background-color: #eeeeee;
  border-radius: 10px;
  margin: 5px 0px 5px 0px;
}

.icons-wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
}

.single-icon-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.circle-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 8px;
  width: 8px;
  border: 2px solid #555;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  top: 0;
  transition: top 0.6s ease-out 0s;
}

.tooltip-container {
  padding: 2px;
  /* border-radius: 10px; */
}

.tooltip {
  color: rgb(32, 52, 133);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.date-text {
  font-family: Vazirmatn, sans-serif;
  font-weight: bold;
  color: #353535;
}
